*{
  margin: 0;
  padding: 0;
  font-family: 'Cabin', sans-serif;
  letter-spacing: 1px;
}
#root{
  height: 100vh;
  background-color: rgb(0, 204, 255);
  
}
.App {
  overflow-x: hidden;
  height: 100%;
  text-align: center;
  background:linear-gradient(135deg,rgb(255, 130, 0),rgb(255, 255, 0))
}

.confirmDelPop{
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  background-color: rgb(255, 255, 255);
  min-height: 15vh;
  min-width: 30vw;
  z-index: 2;
  padding: 1rem;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.overlay{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}
ul{
  list-style: none;
  padding-inline-start:0rem;
}
.but{
  border: none;
  border-radius: 10px;
  outline: none;
  padding: 1rem;
}
.user-input{
  display: flex;
  justify-content: center;
  padding: 0.6rem;
}
.border-end-0{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.border-start-0{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.icons{
  padding-bottom: 0;
  padding-top: 0;
  color: green;
}
.todo{
  background-color: white;
  margin: 1rem auto;
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: larger;
  border-radius: 1rem;
}
li[iscomplete = true]{
  text-decoration: line-through;
  background-color: rgb(140, 255, 0);
}
.task-button .but{
  background-color: transparent;
  margin: 0.6rem 0.4rem;
}
.todo span,.todo button{
  margin: 1rem 1.2rem;
}

.input-tag{
  font-size: large;
}
.user-input .icons{
  background-color: rgb(223, 223, 223);
  color: #000;
}
.user-input .icons:hover{
  background-color: rgb(195, 195, 195);
}


@media only screen and (max-width:980px){
  *{
    font-size: medium !important;
  }
  .todo{
    width: 50%;
  }
}
@media only screen and (max-width:760px){
  *{
    font-size: small !important;
  }
  .todo{
    width: 60%;
  }
}
@media only screen and (max-width:480px){
  .todo{
    width: 90%;
  }
}
